.tsc-company-spy {
  display: inline;
  background-color: var(--tsc-bg-color);
  color: var(--tsc-text-color);
  border: 1px solid var(--tsc-border-color);
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  margin-left: 5px;
  font-size: 10px;
}
