.tsc-faction-war {
  display: flex;
  background-color: var(--tsc-alt-bg-color);
  color: var(--tsc-text-color);
  border: 1px solid var(--tsc-border-color);
  padding: 3px 3px;
  cursor: pointer;
  height: 15px;
  vertical-align: middle;
  justify-content: space-around;
  align-items: center;
}
