.tsc-chain-spy {
  background-color: var(--tsc-bg-color);
  color: var(--tsc-text-color);
  border: 1px solid var(--tsc-border-color);
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 15px;
  border-radius: 5px;
  padding: 3px;
  margin-left: 2px;
  cursor: pointer;
}
